/*
 * SiW Touch device tree source for Odroid-XU4 (Samsung Exynos5422)
 *
 * Copyright (c) 2016 Silicon Works - http://www.siliconworks.co.kr
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/
#include <dt-bindings/gpio/gpio.h>

/{
/*
	//GPIO default setup for lg4894 IRQn & RSTn
	pinctrl@13400000 {
		touch_irq: touch-irq {
			samsung,pins = "gpx1-6";
			// 0 = input, 1 = output
			samsung,pin-function = <0>;
			// 0 = disable, 1 = pull dn, 2 = reserved, 3 = pull up
			samsung,pin-pud = <3>;
		};

		touch_reset: touch-reset {
			samsung,pins = "gpx1-7";
			samsung,pin-function = <1>;
			samsung,pin-pud = <0>;
		};
	};
*/

	/*
	 * add more pin configuration for I2C SC/SDA to pinctrl@14010000
	 * this area is alreay defined in exynos5422-pinctrl.dtsi
	 */
	pinctrl@14010000 {
		i2c1_bus: i2c1-bus {
			/* gpb3-3 : SCL, gpb3-2 : SDA */
			samsung,pins = "gpb3-3", "gpb3-2";
			samsung,pin-function = <2>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <3>;
		};
	};

	/*
	 * enable I2C@12C70000 adapter
	 */
	i2c_1: i2c@12C70000 {
		compatible = "samsung,s3c2440-i2c";
		reg = <0x12C70000 0x1000>;
		interrupts = <0 57 0>;
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c1_bus>;
		clocks = <&clock 1493>, <&clock 1493>;
		clock-names = "rate_i2c", "gate_i2c";
	};
};

&i2c_1 {					// indicates parent device : I2C_1 adapter block
//
	sw1828@28 {				// define new client device(sw1828), slave addr is 0x28
		status = "okay";
		compatible = "siw,sw1828";	// compatible name (see touch_sw1828.c)
		reg = <0x28>;
		interrupt-parent = <&gpx1>;
		interrupts = <6 0x02>;
		irqflags = <0x2002>;

		chip_flags = <0x100>;

		reset-gpio = <&gpx1 7 GPIO_ACTIVE_LOW>;
		irq-gpio = <&gpx1 6 GPIO_ACTIVE_LOW>;

		// Caps
		max_x = <800>;
		max_y = <480>;
		max_pressure = <0xff>;
		max_width = <15>;
		max_orientation = <1>;
		max_id = <10>;

		// role
		hw_reset_delay = <210>;
		sw_reset_delay = <90>;
		use_lpwg = <0>;
		use_lpwg_test = <0>;

		// firmware
		use_firmware = <1>;		// enable firmware control
		use_fw_upgrade = <1>;	// auto-update during driver initialization
		fw_image = "siw/sw1828/LA080WV9_9_02_00_3V.img";	// in android -> /lib/firmware/siw/...
	//	panel_spec = "siw/sw1828/ph1_limit.txt";
	//	panel_spec_mfts = "siw/sw1828/ph1_limit_mfts.txt";

		//absoulte path
		prd_in_file = "/mnt/sdcard/siw/sw1828_test_spec_V0.1.txt";
		prd_in_file_m = "/mnt/sdcard/siw/sw1828_test_spec_mfts_V0.1.txt";
		prd_out_file = "/mnt/sdcard/siw/touch_self_test.txt";
	//	prd_out_file_mo_aat = "/mnt/sdcard/siw/touch_self_mfts_aat.txt";
	//	prd_out_file_mo_mfo = "/mnt/sdcard/siw/touch_self_mfts_mfo.txt";
	//	prd_out_file_mo_mfl = "/mnt/sdcard/siw/touch_self_mfts_mfl.txt";
	//	prd_out_file_mo_mcv = "/mnt/sdcard/siw/touch_self_mfts_mcv.txt";
	};
//

/*
	lg4894@28 {				// define new client device(lg4894), slave addr is 0x28
		status = "okay";
		compatible = "siw,lg4894";	// compatible name (see touch_lg4894.c)
		reg = <0x28>;				// slave addr. : 0x28
		interrupt-parent = <&gpx1>;	// interrupt source : GPIO group 'gpx1'
		interrupts = <6 0x02>;		// index 6(0~7) in gpx1 external interrupts
		irqflags = <0x2002>;		// IRQF_ONESHOT(0x2000) | IRQF_TRIGGER_FALLING(0x2)

		chip_flags = <0x100>;		// TOUCH_USE_MON_THREAD

		reset-gpio = <&gpx1 7 GPIO_ACTIVE_LOW>;	// index 7 in gpx1
		irq-gpio = <&gpx1 6 GPIO_ACTIVE_LOW>;	// index 6 in gpx1

		// Caps
		max_x = <720>;
		max_y = <1280>;
		max_pressure = <0xff>;
		max_width = <15>;
		max_orientation = <1>;
		max_id = <10>;

		// role
		hw_reset_delay = <210>;
		sw_reset_delay = <90>;
		use_lpwg = <1>;
		use_lpwg_test = <1>;

		// firmware
		use_firmware = <1>;		// enable firmware control
		use_fw_upgrade = <1>;		// auto-update during driver initialization
		fw_image = "siw/lg4894/L0W53K6P_0_24.img";	// in android -> /lib/firmware/siw/...
		panel_spec = "siw/lg4894/ph1_limit.txt";
		panel_spec_mfts = "siw/lg4894/ph1_limit_mfts.txt";

		prd_in_file = "/mnt/sdcard/siw/lg4894_test_spec_V0.1.txt";
		prd_in_file_m = "/mnt/sdcard/siw/lg4894_test_spec_mfts_V0.1.txt";
		prd_out_file = "/mnt/sdcard/siw/touch_self_test.txt";
	};
*/
};

&spi_1 {					// indicates parent device : SPI_1 master block
	status = "okay";
	samsung,spi-src-clk = <0>;		//clk source indicator : sci->src_clk_nr -> '0' on spi_busclk0
	num-cs = <1>;

	lg4895@0 {
		status = "okay";
	//	#address-cells = <1>;
	//	#size-cells = <0>;
		compatible = "siw,lg4895";
		reg = <0>;		//chip select indicator : spi->chip_select
		spi-max-frequency = <10000000>;

		interrupt-parent = <&gpx1>;	// interrupt source : GPIO group 'gpx1'
		interrupts = <6 0x02>;		// index 6(0~7) in gpx1 external interrupts
		irqflags = <0x2002>;		// IRQF_ONESHOT(0x2000) | IRQF_TRIGGER_FALLING(0x2)

		chip_flags = <0>;

		reset-gpio = <&gpx1 7 GPIO_ACTIVE_LOW>;	// index 7 in gpx1
		irq-gpio = <&gpx1 6 GPIO_ACTIVE_LOW>;	// index 6 in gpx1

		// Caps
		max_x = <720>;
		max_y = <1280>;
		max_pressure = <0xff>;
		max_width = <15>;
		max_orientation = <1>;
		max_id = <10>;

		// role
		hw_reset_delay = <210>;
		sw_reset_delay = <90>;
		use_lpwg = <1>;
		use_lpwg_test = <1>;

		// firmware
		use_firmware = <1>;
		use_fw_upgrade = <1>;
		fw_image = "siw/lg4895/L0W49P1_1_13.img";	// in android -> /lib/firmware/siw/...
	//	panel_spec = "siw/lg4895/ph1_limit.txt";
	//	panel_spec_mfts = "siw/lg4895/ph1_limit_mfts.txt";

		prd_in_file = "/mnt/sdcard/siw/lg4895_test_spec_V0.1.txt";
		prd_in_file_m = "/mnt/sdcard/siw/lg4895_test_spec_mfts_V0.1.txt";
		prd_out_file = "/mnt/sdcard/siw/touch_self_test.txt";

		controller-data {
			cs-gpio = <&gpa2 5 GPIO_ACTIVE_LOW>;
			samsung,spi-feedback-delay = <0>;
			samsung,spi-chip-select-mode = <0>;	//MANUAL_CS_MODE = 0, AUTO_CS_MODE = 1,
		};
	};
};



